<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Clevebet is Professional Creative Token" />
    <!-- SITE TITLE -->
    <title>Clevebet – ICO</title>
    <!-- Favicon Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="/images/coin-logo.png">
    <!-- Animation CSS -->
    <link rel="stylesheet" href="/stylesheets/animate.css">
    <!-- Latest Bootstrap min CSS -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
    <!-- ionicons CSS -->
    <link rel="stylesheet" href="/stylesheets/ionicons.min.css">
    <!-- cryptocoins CSS -->
    <link rel="stylesheet" href="/stylesheets/cryptocoins.css">
    <!--- owl carousel CSS-->
    <link rel="stylesheet" href="/owlcarousel/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/owlcarousel/css/owl.theme.default.min.css">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="/stylesheets/magnific-popup.css">
    <link rel="stylesheet" href="/stylesheets/spop.min.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/responsive.css">
    <!-- Color CSS -->
    <link id="layoutstyle" rel="stylesheet" href="/color/theme.css">
</head>

<body class="v_light_dark" data-spy="scroll" data-offset="110">

    <!-- <% include ../partials/flash-messages %> -->
    <%- body -%>

    <!-- Latest jQuery -->
    <script src="/javascripts/jquery-1.12.4.min.js"></script>
    <!-- Latest compiled and minified Bootstrap -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <!-- owl-carousel min js  -->
    <script src="/owlcarousel/js/owl.carousel.min.js"></script>
    <!-- magnific-popup min js  -->
    <script src="/javascripts/magnific-popup.min.js"></script>
    <!-- waypoints min js  -->
    <script src="/javascripts/waypoints.min.js"></script>
    <!-- parallax js  -->
    <script src="/javascripts/parallax.js"></script>
    <!-- countdown js  -->
    <script src="/javascripts/jquery.countdown.min.js"></script>
    <!-- particles min js  -->
    <script src="/javascripts/particles.min.js"></script>
    <!-- scripts js -->
    <script src="/javascripts/jquery.dd.min.js"></script>
    <!-- jquery.counterup.min js -->
    <script src="/javascripts/jquery.counterup.min.js"></script>
    <!-- chart js  -->
    <script src="/javascripts/Chart.bundle.js"></script>
    <script src="/javascripts/Chart.PieceLabel.min.js"></script>
    <script src="/javascripts/chart_script.js"></script>
    <!-- <script src="/javascripts/spop.min.js"></script>  -->
    <script src="/javascripts/notification.js"></script>
    <!-- scripts js -->
    <script src="/javascripts/scripts.js"></script>
</body>

</html>