<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Clevebet is Professional Creative Token" />
    <!-- SITE TITLE -->
    <title>Clevebet – ICO</title>
    <!-- Favicon Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="/images/coin-logo.png">
    <!-- Animation CSS -->
    <link rel="stylesheet" href="/stylesheets/animate.css">
    <!-- Latest Bootstrap min CSS -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
    <!-- ionicons CSS -->
    <link rel="stylesheet" href="/stylesheets/ionicons.min.css">
    <!--- owl carousel CSS-->
    <link rel="stylesheet" href="/owlcarousel/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/owlcarousel/css/owl.theme.default.min.css">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="/stylesheets/magnific-popup.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/responsive.css">
    <!-- Color CSS -->
    <link id="layoutstyle" rel="stylesheet" href="/color/theme.css">
</head>

<body>

    <!-- START LOADER -->
    <div id="loader-wrapper">
        <div id="loading-center-absolute">
            <div class="object" id="object_four"></div>
            <div class="object" id="object_three"></div>
            <div class="object" id="object_two"></div>
            <div class="object" id="object_one"></div>
        </div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>

    </div>
    <!-- END LOADER -->

    <% include ../partials/flash-messages %>
    <%- body -%>

    <!-- START FOOTER SECTION -->
    <footer>
        <div class="top_footer blue_light_bg" data-z-index="1" data-parallax="scroll"
            data-image-src="/images/footer_bg.png">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-12">
                        <div class="newsletter_form">
                            <h4 class="footer_title border_title animation" data-animation="fadeInUp"
                                data-animation-delay="0.2s">Newsletter</h4>
                            <p class="animation" data-animation="fadeInUp" data-animation-delay="0.4s">By subscribing to
                                our mailing list you will always be update with the latest news from us.</p>
                            <form class="subscribe_form animation" data-animation="fadeInUp"
                                data-animation-delay="0.4s">
                                <input class="input-rounded" type="text" required placeholder="Enter Email Address" />
                                <button type="submit" title="Subscribe" class="btn-info" name="submit" value="Submit">
                                    Subscribe </button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-8 res_md_mt_30 res_sm_mt_20">
                        <h4 class="footer_title border_title animation" data-animation="fadeInUp"
                            data-animation-delay="0.2s">Quick Links</h4>
                        <ul class="footer_link half_link list_none">
                            <li class="animation" data-animation="fadeInUp" data-animation-delay="0.2s"><a
                                    href="/">Clevebet ICO</a></li>
                            <li class="animation" data-animation="fadeInUp" data-animation-delay="0.3s"><a
                                    href="#">Team</a></li>
                            <li class="animation" data-animation="fadeInUp" data-animation-delay="0.3s"><a href="#">How
                                    It Works</a></li>
                            <li class="animation" data-animation="fadeInUp" data-animation-delay="0.3s"><a
                                    href="#">Whitepaper</a></li>
                            <li class="animation" data-animation="fadeInUp" data-animation-delay="0.4s"><a
                                    href="#">Tokens</a></li>
                            <li class="animation" data-animation="fadeInUp" data-animation-delay="0.5s"><a
                                    href="#">FAQ</a></li>
                            <li class="animation" data-animation="fadeInUp" data-animation-delay="0.3s"><a href="#">Road
                                    map</a></li>
                            <li class="animation" data-animation="fadeInUp" data-animation-delay="0.6s"><a
                                    href="#">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 offset-lg-1 col-md-6 col-sm-4 res_md_mt_30 res_sm_mt_20">
                        <h4 class="footer_title border_title animation" data-animation="fadeInUp"
                            data-animation-delay="0.2s">Social</h4>
                        <ul class="footer_social list_none">
                            <li class="animation" data-animation="fadeInUp" data-animation-delay="0.2s"><a href="#"><i
                                        class="ion-social-facebook"></i> Facebook</a></li>
                            <li class="animation" data-animation="fadeInUp" data-animation-delay="0.3s"><a href="#"><i
                                        class="ion-social-twitter"></i> Twitter</a></li>
                            <li class="animation" data-animation="fadeInUp" data-animation-delay="0.4s"><a href="#"><i
                                        class="ion-social-googleplus"></i> Google Plus</a></li>
                            <li class="animation" data-animation="fadeInUp" data-animation-delay="0.5s"><a href="#"><i
                                        class="ion-social-pinterest"></i> Pintrest</a></li>
                            <li class="animation" data-animation="fadeInUp" data-animation-delay="0.6s"><a href="#"><i
                                        class="ion-social-instagram-outline"></i> Instagram</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="bottom_footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p class="copyright">Copyright &copy; 2018 All Rights Reserved.</p>
                    </div>
                    <div class="col-md-6">
                        <ul class="list_none footer_menu">
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- END FOOTER SECTION -->
    <a href="#" class="scrollup btn-default"><i class="ion-ios-arrow-up"></i></a>

    <!-- Latest jQuery -->
    <script src="/javascripts/jquery-1.12.4.min.js"></script>
    <!-- Latest compiled and minified Bootstrap -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <!-- owl-carousel min js  -->
    <script src="/owlcarousel/js/owl.carousel.min.js"></script>
    <!-- magnific-popup min js  -->
    <script src="/javascripts/magnific-popup.min.js"></script>
    <!-- waypoints min js  -->
    <script src="/javascripts/waypoints.min.js"></script>
    <!-- parallax js  -->
    <script src="/javascripts/parallax.js"></script>
    <!-- countdown js  -->
    <script src="/javascripts/jquery.countdown.min.js"></script>
    <!-- particles min js  -->
    <script src="/javascripts/particles.min.js"></script>
    <!-- scripts js -->
    <script src="/javascripts/jquery.dd.min.js"></script>
    <!-- jquery.counterup.min js -->
    <script src="/javascripts/jquery.counterup.min.js"></script>
    <!-- scripts js -->
    <script src="/javascripts/scripts.js"></script>
</body>

</html>